{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<br>
<h1>Dashboard</h1>
<br>
<div class="card">
    <div class="card-header">
      {{current_user.username}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Current user's info</h5>
      <p class="card-text">
        <strong>Name: </strong>{{ current_user.name }}<br>
        <strong>Username: </strong>{{ current_user.username }}<br>
        <strong>Email: </strong>{{ current_user.email }}<br>
        <strong>Color: </strong>{{ current_user.color }}<br>
        <strong>ID: </strong>{{ current_user.id }}<br>
        <strong>Date joined: </strong>{{ current_user.date_joined }}<br>
      </p>
      <a href="{{ url_for('logout') }}" class="btn btn-secondary btn btn-sm">Logout</a>
    </div>
  </div>

<br>
  <h1>Update User</h1>
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <form action="/dashboard" method="post">
      {{form.hidden_tag()}}
      {{form.name.label(class="form-label")}}
      {{form.name( class="form-control", value=current_user.name)}}
      {{form.username.label(class="form-label")}}
      {{form.username( class="form-control", value=current_user.username)}}
      {{form.email.label(class="form-label")}}
      {{form.email( class="form-control", value=current_user.email)}}
      {{form.color.label(class="form-label")}}
      {{form.color( class="form-control", value=current_user.color)}}
      {{form.password.label(class="form-label")}}
      {{form.password( class="form-control" )}}
      {{form.password2.label(class="form-label")}}
      {{form.password2( class="form-control" )}}
      <br>
      {{form.submit(class="btn btn-secondary")}}
  </form>
  </div>
  
{% endblock %}